:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 1000px;
}

.hero {
  background: var(--secondary-color);
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}

.comment {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-size: 40px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.project-links {
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-color: var(--primary-color);
}

.about-img-size {
  width: 30%;
}

h6 {
  text-align: center;
}

section {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  padding-bottom: 25px;
}

.contact-container {
  background-color: #f9f7fe;
  width: 700px;
}

footer {
  margin-top: 30px;
}

.about-section {
  margin-bottom: 100px;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.work-intro {
  margin-top: 100px;
}

.emojis {
  font-size: 25px;
  margin-left: 20px;
}

.work-content {
  margin-top: 70px;
}

.work-content h2 {
  font-size: 30px;
}

@media (max-width: 576px) {
  .sm-formatt {
    display: none;
  }

  .sm-center {
    text-align: center;
  }

  .about-img-size {
    display: block;
    width: 80%;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
    padding-left: 20px;
  }

  h4 {
    font-size: 37px;
    text-align: center;
  }

  h5 {
    font-size: 14px;
    text-align: center;
  }

  .contact-container {
    margin-top: 100px;
    width: 500px;
  }
}
